@{
  object validate = TempData["Rol"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RacePuntos</title>
    @*JS*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/alertify.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>
    <script src="~/Scripts/jquery.tooltipster.js"></script>
    <script src="~/Scripts/jquery.tooltipster.min.js"></script>
    <script src="~/Scripts/Validations.js"></script>

    @*CSS*@
    <link href="~/Content/alertify.core.css" rel="stylesheet" />
    <link href="~/Content/alertify.default.css" rel="stylesheet" />
    <link href="~/Content/tooltipster.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    @*class="navbar navbar-inverse navbar-fixed-top"*@
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="wrap">
                        <nav>
                            <ul class="primary">
                                <li>@Html.ActionLink("Quienes Somos", "", "")</li>
                                <li>
                                    <a href="">Puntos</a>
                                    <ul class="sub">
                                        <li>@Html.ActionLink("Historial adquisición de puntos", "", "")</li>
                                        <li>@Html.ActionLink("Historial de servicios redimidos", "", "")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Gestión</a>
                                    <ul class="sub">
                                        <li>@Html.ActionLink("usuarios", "", "")</li>
                                        <li>@Html.ActionLink("servicios - redimir puntos", "", "")</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Ayuda", "Ayuda", "Home")</li>
                                <li>@Html.ActionLink("Contactenos", "Contact", "Home")</li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-2"><img src="~/Images/Carousel/propuesta 3.png" style="width:60%;" /></div>
            </div>


        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Inpahu - RacePuntos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
